<app-bug-stats [bugs]="bugList"></app-bug-stats>
<section class="sort">
    <label for="">Order By :</label>
    <select (change)="sortAttrName = $event.target.value">
        <option value="">--- Select ---</option>
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created</option>
    </select>
    <label for="">Descending ? :</label>
    <input type="checkbox" (change)="sortByDesc = $event.target.checked">
</section>
<app-bug-edit (bugCreated)="onNewBugCreated($event)"></app-bug-edit>
<section class="list">
    <ol>
        <li *ngFor="let bug of ( bugList | sort : sortAttrName : sortByDesc )">
            <span class="bugname"
                [ngClass]="{closed : bug.isClosed}"
                (click)="onBugNameClick(bug)"
            >{{bug.name | trimText:40}}</span>
            <span> [ {{bug.id}} ]</span>
            <div class="datetime">{{bug.createdAt | elapsed}}</div>
            <input type="button" value="Remove" (click)="onRemoveClick(bug)">
        </li>
    </ol>
    <input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>