<section class="stats">
    <span class="closed">{{ bugList | closedCount }}</span>
    <span> / </span>
    <span>{{bugList.length}}</span>
</section>
<section class="sort">
    <label for="">Order By :</label>
    <select (change)="sortAttrName = $event.target.value">
        <option value="">--- Select ---</option>
        <option value="id">Id</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created</option>
    </select>
    <label for="">Descending ? :</label>
    <input type="checkbox" (change)="sortByDesc = $event.target.checked">
</section>
<section class="edit">
    <label for="">Bug Name :</label>
    <input type="text" (input)="newBugName = $event.target.value">
    <span> [ {{newBugName.length}} ] </span>
    <input type="button" value="Add New" (click)="onAddNewClick()">
</section>
<section class="list">
    <ol>
        <li *ngFor="let bug of ( bugList | sort : sortAttrName : sortByDesc )">
            <span class="bugname"
                [ngClass]="{closed : bug.isClosed}"
                (click)="onBugNameClick(bug)"
            >{{bug.name | trimText:40}}</span>
            <span> [ {{bug.id}} ]</span>
            <div class="datetime">[created at]</div>
            <input type="button" value="Remove" (click)="onRemoveClick(bug)">
        </li>
        <!-- <li>
            <span class="bugname closed">[This is bug - 2]</span>
            <div class="datetime">[created at]</div>
            <input type="button" value="Remove">
        </li> -->
    </ol>
    <input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>