/* You can add global styles to this file, and also import other style files */
body{
    margin-left: 50px;
}
section{
    margin-bottom: 10px;
}
.stats, .bugname{
    font-size: 18pt;
}
.closed{
    color : red;
    text-decoration: line-through;
    font-style: italic;
    font-weight: bold;
}
.bugname{
    cursor : pointer;
}
ol{
    width : 450px;
    list-style: none;
    -webkit-padding-start: 0px;
}
li{
    margin-bottom: 10px;
    padding : 10px;
    border-radius: 5px;
    border : 2px solid gray;
    background-color: #e7e7e7;
}